* {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  margin-top: 70px;
}

header {
  background-color: #98fb98;
  margin-bottom: 60px;
  padding: 10px 10px;
}

.main {
  text-align: center;
  padding: 20px;
}

.main_content h3 {
  font-size: 20px;
  margin-top: 30px;
}

.main_content p {
  margin-top: 20px;
  font-size: 16px;
  word-wrap: break-word;
}

footer {
  background-color: #98fb98;
  margin-top: 40px;
  padding: 12px;
}
footer p {
  text-align: center;
  font-size: 16px;
}
